<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <style>
	html {
	scroll-behavior: smooth;
	}
	.navbar_buttons {
	padding:0 40px;
	margin-left: 0px;
	}
    .introduction {
	position: relative;
	text-align: center;
	color: white;
    }
	.introduction_text {
	position: absolute;
	top: 10%;
	right: 20px;
	width: 750px;
	text-align: left;
	}
	.work_container {
	text-align: center;
	}
	.contact {
	text-align: left;
	}
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title}}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
	<!-- Site Header (Buttons go here!) -->
    <div id="header">
      <nav background="transparent">
        <li class="fork"><a href="#intro">Introduction</a></li>
	    <li class="fork"><a href="#projects">Projects</a></li>
	    <li class="fork"><a href="#contacts">Contacts</a></li>
		<li class="fork"><a href="Jack_Moorin_CV.docx">CV</a></li>
      </nav>
    </div>
		
	<!-- Site Title -->
    <div class="wrapper" style="padding-bottom: 0px;">
      <section>
        <div id="title">
          <h1>{{ site.title}}</h1>
          <p>{{ site.description}}</p>
          <hr>
          <span class="credits left" style="padding-bottom: 0px;">
		    Webiste maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
		  </span>
		  <span class="credits right" style="padding-bottom: 0px;">
		    <a href="https://www.linkedin.com/in/jack-moorin-a58b84150/"><img src="LinkedIn_Icon.png" alt="LinkedIn" width="30" height="30" border="0" style="padding-right: 1em;"></a>
		    <a href="https://github.com/GamesProgrammingGrad2021?tab=repositories"><img src="Github_Icon.png" alt="Github" width="30" height="30" border="0"></a>
		  </span>
        </div>
	  </section>
    </div>
	
	<!-- Introduction w/ Image -->
	<div id="intro" style="padding-top: 0px;">
		<div class="introduction">
			<h1 style="padding-bottom: 5px;"><u>Introduction:</u></h1>
			<img src="Portfolio_Portrait.jpg" alt="Profile_Picture" style="width:100%;"> 
			<div class="introduction_text">
				<h1>Hi there,</h1>
				<p>
				My name is Jack Moorin and this is my online portfolio where I showcase some of my best work. I have recently graduated from De Montfort 
				University achieving my Master's Degree in 'Intelligent Systems and Robotics' finishing with a Merit after having previously completed 
				undergraduate course in 'Video Games Programming' there and graduating with First-Class Honours. The nature of both of my degree's 
				has fully prepared me for a position within the games industry, requiring independent research, a high degree of self-motivation and 
				initiative as well as wide range of other skills including considerable experience with the  C#, C++, Lua and Python programming
				languages. I'm a very logic minded individual who enjoys using a methodical approach when working and solving problems.
				</p>
				<p>
				My primary interest is the creation of video game applications, both designing and programming them as well as researching new and interesting 
				mechanics that have been implemented. My initial interest in working in the video games industry was first sparked when I was undertaking my 
				entrance interview for the Henley College in 2015 and a teacher asked if I would have any interest in joining his brand new BTEC course in 
				‘Video Games Design’. Naturally having been a lifelong gamer and developed an interest in working with computers following completing my ICT 
				BTEC I jumped at this chance and have never looked back. During the course of the BTEC I wrote many pieces of coursework on different art 
				styles, game genres and the many principles of game design, had my first experience with 3D modelling using Blender and also compiled multiple 
				design documents and presentations to stakeholders for hypothetical games. Following the completion of this course, from which I achieved a 
				Distinction, I then pursued my now ignited passion by going on to study ‘Video Games Programming’ at the University of De Montfort in which I 
				gained considerable experience in C++ programming, received further experience in 3D modelling, this time using Maya, compiled more extensive 
				design documentation and presentation relating to another hypothetical game, jointly compiled with my course mate Adam Hubble a report on the 
				use of Fuzzy Logic in Artificial Intelligence within First-Person-Shooter games which was elected for inclusion within the academic 
				publication '<a href="https://drive.google.com/file/d/1-AwLubafIXbJCovw54W6Ww9Pgjlfa5VB/view?usp=sharing">Fuzzy Logic Recent Applications and Developments</a>' 
				book (page 165) and as part of a team of three developed a basic game engine using C++. I thoroughly enjoyed the 
				course and am proud to say that I achieved a First-Class Degree. Following my undergraduate I decided to continue my education and 
				wanting to specialise in artificial intelligence, undertook a Master’s Degree course in ‘Intelligent Systems and Robotics’ in which I 
				studied Natural Language Processing, Artificial Neural Networks and Deep Learning, Computational Intelligence Optimisation. Applied 
				Computational Intelligence in which I as part of a group used an implementation of the Pac-Man game to trial and find the optimal of a 
				series of pathfinding algorithms for use within game applications and completed my thesis on the effectiveness of population-based 
				Topology and Weight Evolving Artificial Neural Networks, achieving a Merit. I have learnt a lot during my formal education and now 
				hope to be able to put to use the skills I’ve developed in the working world.
				</p>
				<p>
				Thank you for taking the time to view some of my work, I sincerely hope that you are impressed with the overall quality of work and if you 
				would like to get in touch please do not hesitate to send me an email at <span style="color: #17d5eb">jackmoorin9@gmail.com</span> 
				and if you would like to download my CV you can do so <a href="Jack_Moorin_CV.docx">here</a>.
				</p>
			</div>
		</div>
	</div>
	
	<!-- Projects -->
	<div id="projects">
		<div class="work_container">
			<!-- Project Section Heading -->
			<h1 style="padding-top:10px;"><u>Projects:</u></h1>
			
			<!-- Master's Thesis -->
			<h2 style="padding-top:20px; padding-left: 15px; padding-bottom: 10px; text-align: left; font-size: 20px;">Master's Degree Thesis '<i>Teaching Robots to Play Video Games; A study into the effectiveness of<br>population based TWEANN reinforcement learning techniques</i>':</h2>
			<p style="align: left;"><img src="Thesis_Thumbnail.png" alt="Thesis_Thumbnail" width="300" height="225" style="padding-left: 0px;">
			<span style="display: inline-block; font-size: 20px; padding-left: 10px; padding-top: 18px;">
			This document is the final version of the thesis I submitted as part of my 'Intelligent Systems and Mobile Robotics' Master's Degree, 
			for which I graduated with Merit, on the topic of the further development of reinforcement learning based topology and weight evolving 
			artificial neural network techniques through the research, implementaion and evaluation of the 
			<a href="https://en.wikipedia.org/wiki/Neuroevolution_of_augmenting_topologies">NEAT</a> and 
			<a href="https://deepmind.com/blog/article/population-based-training-neural-networks">Population Based Training</a>.
			</span></p>
		</div>
	</div>
	
	<!-- Line Break to Stop Elements Jumbling Up -->
	<br>
	
	<!-- Contacts -->
	<div id="contacts">
		<div class="contact" style="text-align: center; align: center">
			<!-- Heading -->
			<h1 style="float: none; padding-top:10px; padding-bottom: 20px;"><u>Contacts:</u></h1>
			
			<!-- Email -->
			<img src="Email_Icon.png" alt="Email_Icon" width="100" height="100">
			<span style="display: inline-block; font-size: 20px;"><b>Email:</b><br><span style="color: #17d5eb;">jackmoorin9@gmail.com</span></span>
			
			<!-- Phone -->
			<img src="Phone_Icon.png" alt="Phone_Icon" width="100" height="100">
			<span style="display: inline-block; font-size: 20px;"><b>Phone:</b><br><span style="color: #17d5eb;">(+44) 07717827844</span></span>
		</div>
	</div>
  </body>
</html>
